<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Welcome to BLOG NINJA, where knowledge meets inspiration. </p>
    <p>My name is Vaibhav, and I'm the founder and driving force behind this platform. Allow me to introduce myself and share the vision behind this blog.</p>
    <p>With a passion for personal growth, self-improvement, and a keen interest in sharing valuable insights, I embarked on this journey to create a space where individuals like you can find guidance, inspiration, and practical advice to enhance various aspects of your life.
      This blog was born out of the idea that everyone has the potential to lead a more fulfilling and meaningful life. Whether you're seeking strategies to boost your productivity, improve your well-being, or simply looking for inspiration, you'll find a wealth of resources and articles tailored to your needs.
    </p>
    <p>
      At BLOG NINJA, our mission is to empower you with the tools and knowledge you need to unlock your full potential. We strive to provide well-researched, practical, and actionable content that can make a real difference in your life.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>